<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px grid">
<lib-pmt-data-autocomplete sqlTable="ZPMT_WRFC_USERS"
													 placeholder="Webrfc user"
													 [baseUrl]="configuration.url"
													 [listWidth]="300"
													 listLayout="row"
                           [displayedColumns]="['usr', 'fullName']"></lib-pmt-data-autocomplete>
<lib-pmt-data-autocomplete sqlTable="TFTIT"
													 sqlWhere="spras = 'EN' and funcname like 'Z%'"
						   						 placeholder="Function"
													 [baseUrl]="configuration.url"
													 [listWidth]="800"
													 listLayout="table"
													 [displayedColumns]="['funcname', 'stext']"></lib-pmt-data-autocomplete>
<lib-pmt-data-autocomplete sqlTable="TFTIT"
													 sqlWhere="spras = 'EN' and funcname like 'Z_PMT%'"
													 placeholder="Function"
													 [baseUrl]="configuration.url"
						   						 [listWidth]="400"
													 listLayout="column"
													 [displayedColumns]="['funcname', 'stext']"></lib-pmt-data-autocomplete>

<lib-pmt-data-option [data]="[ { key: '1000', name: 'Milan' },
															 { key: '2000', name: 'Rome'} ,
															 { key: '3000', name: 'Naples' },
															 { key: '4000', name: 'Florence' },
															 { key: '5000', name: 'Turin' } ]"
										 placeholder="Plant"
						   			 [listWidth]="300"
										 listLayout="table"
					 					 [displayedColumns]="['usr', 'fullName']"></lib-pmt-data-option>
<lib-pmt-data-option sqlTable="TFTIT"
										 sqlWhere="spras = 'EN' and funcname like 'Z_PMT%'"
										 placeholder="Function"
										 [baseUrl]="configuration.url"
						   			 [listWidth]="300"
										 listLayout="column"
					 					 [displayedColumns]="['funcname', 'stext']"></lib-pmt-data-option>
</div>
 
<div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center"
		 style="margin: 2vh 1vw;">
  <lib-pmt-base-data-table style="width: 100%; min-width: 600px;" 
	 												 title="User list" 
													 baseUrl="https://jsonplaceholder.typicode.com/users"
													 dataType="json"
													 type="GET"
													 multiSelection=true
													 [buttons]="[ { caption:'View', icon: 'search', position: 'left', action: 'view', color: 'prymary', row: 1, tooltip: 'View item', disabled: true, multiSel: false },
																				{ caption:'Change', icon: 'edit', position: 'left', action: 'change', color: 'prymary', row: 1, tooltip: 'Change item', disabled: true, multiSel: false } ]"
											  	 [iconButtons]="[ { icon: 'delete', position: 'right', action: 'delete', color: 'accent', row: 0, tooltip: 'Delete data data', disabled: true, multiSel: null },
																					  { icon: 'refresh', position: 'right', action: 'refresh', color: 'accent', row: 0, tooltip: 'Refresh data', disabled: false, multiSel: null } ]"
													 [displayedColumns]="['name', 'email', 'phone', 'company']" 
													 [displayedColumnsNames]="['Name', 'Email', 'Phone', 'Company']"> </lib-pmt-base-data-table>
</div>
<div fxLayout="column" 
		 fxLayout.xs="column" 
		 fxLayoutAlign="center center"
		 style="margin: 2vh 1vw;">
	<lib-pmt-data-table style="width: 98%; min-width: 600px;" 
											title="User list" 
 										  [baseUrl]="configuration.url"
											method="TH_USER_LIST"
											methodType = "F"
											webrfcLog = "true"
											webrfcLogin = "false"
											webrfcUser = "user1"
											webrfcPassword = "Ostrakon1!x"
											noRefreshColumns = "true"
											table="USRLIST"
											[fields]="[ { name: 'sap-language', value:'EN', type: 'select', placeholder: 'Language' }	]"
											[buttons]="[ { caption:'View', icon: 'search', position: 'left', action: 'view', color: 'prymary', row: 1, tooltip: 'View item', disabled: true, multiSel: false },
																	 { caption:'Change', icon: 'edit', position: 'left', action: 'change', color: 'prymary', row: 1, tooltip: 'Change item', disabled: true, multiSel: false } ]"
											[iconButtons]="[ { icon: 'delete', position: 'right', action: 'delete', color: 'accent', row: 0, tooltip: 'Delete data data', disabled: true, multiSel: null },
																			 { icon: 'refresh', position: 'right', action: 'refresh', color: 'accent', row: 0, tooltip: 'Refresh data', disabled: false, multiSel: null } ]"
											[displayedColumns]="['tid', 'mandt', 'bname', 'term', 'hostaddr', 'guiversion', 'zeit']"
											[displayedColumnsNames]="['TID', 'Client', 'User', 'Terminal', 'IP address', 'GUI version', 'Time']"> </lib-pmt-data-table>
	<lib-pmt-data-table style="width: 98%; min-width: 600px;" 
											title="User list" 
 										  [baseUrl]="configuration.url"
											method="TH_USER_LIST"
											methodType = "F"
											webrfcLog = "true"
											webrfcLogin = "false"
											webrfcUser = "user1"
											webrfcPassword = "Ostrakon1!x"
											noRefreshColumns = "false"
											table="USRLIST"
											[fields]="[ { name: 'sap-language', value:'EN', type: 'select', placeholder: 'Language' }	]"
											[buttons]="[ { caption:'View', icon: 'search', position: 'left', action: 'view', color: 'prymary', row: 1, tooltip: 'View item', disabled: true, multiSel: false },
																	 { caption:'Change', icon: 'edit', position: 'left', action: 'change', color: 'prymary', row: 1, tooltip: 'Change item', disabled: true, multiSel: false } ]"
											[iconButtons]="[ { icon: 'delete', position: 'right', action: 'delete', color: 'accent', row: 0, tooltip: 'Delete data data', disabled: true, multiSel: null },
																			 { icon: 'refresh', position: 'right', action: 'refresh', color: 'accent', row: 0, tooltip: 'Refresh data', disabled: false, multiSel: null } ]"
											[displayedColumns]="['tid', 'mandt', 'bname', 'term', 'hostaddr', 'guiversion', 'zeit']"
											[displayedColumnsNames]="['TID', 'Client', 'User', 'Terminal', 'IP address', 'GUI version', 'Time']"> </lib-pmt-data-table>
        		<lib-pmt-data-table style="width: 98%; min-width: 600px;" 
        				[filter]="false"
							  [baseUrl]="configuration.url"
        				[buttons]="[ { caption:'View', icon: 'search', position: 'left', action: 'view', color: 'prymary', row: 1, tooltip: 'View item', disabled: true, multiSel: false } ]"
        				[fields]="[ { name: 'sap-language', value:'EN', type: 'select', placeholder: 'Language' }	]"
        				[iconButtons]="[ { icon: 'delete', position: 'right', action: 'delete', color: 'accent', row: 0, tooltip: 'Delete data data', disabled: true, multiSel: null },
														     { icon: 'refresh', position: 'right', action: 'refresh', color: 'prymary', row: 0, tooltip: 'Refresh data', disabled: false, multiSel: null } ]"
        				method="TH_USER_LIST"
								methodType = "F"
 								table="USRLIST"
								[displayedColumns]="['tid', 'mandt', 'bname', 'term', 'hostaddr', 'guiversion', 'zeit']" 
								[displayedColumnsNames]="['TID', 'Client', 'User', 'Terminal', 'IP address', 'GUI version', 'Time']"
 								title="User list"></lib-pmt-data-table>
</div>
<div fxLayout="column" 
		 fxLayout.xs="column" 
		 fxLayoutAlign="center center"
		 style="margin: 2vh 1vw;">
	<lib-pmt-data-table style="width: 98%; min-width: 600px;" 
											color="primary"
											title="User list" 
 										  [baseUrl]="configuration.url"
											method="TH_USER_LIST"
											methodType = "F"
											webrfcLog = "true"
											webrfcLogin = "true"
											webrfcUser = "user1"
											webrfcPassword = "Ostrakon1!"
											noRefreshColumns = "true"
											showMenu = false
											table="USRLIST"
											[fields]="[ { name: 'sap-language', value:'EN', type: 'select', placeholder: 'Language' }	]"
											[buttons]="[ { caption:'View', icon: 'search', position: 'left', action: 'view', color: 'prymary', row: 1, tooltip: 'View item', disabled: true, multiSel: false },
																	 { caption:'Change', icon: 'edit', position: 'left', action: 'change', color: 'prymary', row: 1, tooltip: 'Change item', disabled: true, multiSel: false } ]"
											[iconButtons]="[ { icon: 'delete', position: 'right', action: 'delete', color: 'accent', row: 0, tooltip: 'Delete data data', disabled: true, multiSel: null },
																			 { icon: 'refresh', position: 'right', action: 'refresh', color: 'accent', row: 0, tooltip: 'Refresh data', disabled: false, multiSel: null } ]"></lib-pmt-data-table>
</div>
<div fxLayout="column" 
		 fxLayout.xs="column" 
		 fxLayoutAlign="center center"
		 style="margin: 2vh 1vw;">
	<lib-pmt-data-table style="width: 98%; min-width: 600px;" 
											color="accent"
											title="User list" 
 										  [baseUrl]="configuration.url"
											method="TH_USER_LIST"
											methodType = "F"
											webrfcLog = "true"
											webrfcLogin = "true"
											webrfcUser = "user1"
											webrfcPassword = "Ostrakon1!"
											noRefreshColumns = "true"
											table="USRLIST"
											[fields]="[ { name: 'sap-language', value:'EN', type: 'select', placeholder: 'Language' }	]"
											[buttons]="[ { caption:'View', icon: 'search', position: 'left', action: 'view', color: 'prymary', row: 1, tooltip: 'View item', disabled: true, multiSel: false },
																	 { caption:'Change', icon: 'edit', position: 'left', action: 'change', color: 'prymary', row: 1, tooltip: 'Change item', disabled: true, multiSel: false } ]"
											[iconButtons]="[ { icon: 'delete', position: 'right', action: 'delete', color: 'accent', row: 0, tooltip: 'Delete data data', disabled: true, multiSel: null },
																			 { icon: 'refresh', position: 'right', action: 'refresh', color: 'accent', row: 0, tooltip: 'Refresh data', disabled: false, multiSel: null } ]"
											[displayedColumns]="['tid', 'mandt', 'bname', 'term', 'hostaddr', 'guiversion', 'zeit']" 
											[displayedColumnsNames]="['TID', 'Client', 'User', 'Terminal', 'IP address', 'GUI version', 'Time']"> </lib-pmt-data-table>
</div>
<div fxLayout="column" 
		 fxLayout.xs="column" 
		 fxLayoutAlign="center center"
		 style="margin: 2vh 1vw;">
	<lib-pmt-data-table style="width: 98%; min-width: 600px;" 
											color="warn"
											title="User list" 
 										  [baseUrl]="configuration.url"
											method="TH_USER_LIST"
											methodType = "F"
											webrfcLog = "true"
											webrfcLogin = "true"
											webrfcUser = "user1"
											webrfcPassword = "Ostrakon1!"
											noRefreshColumns = "true"
											table="USRLIST"
											[fields]="[ { name: 'sap-language', value:'EN', type: 'select', placeholder: 'Language' }	]"
											[buttons]="[ { caption:'View', icon: 'search', position: 'left', action: 'view', color: 'prymary', row: 1, tooltip: 'View item', disabled: true, multiSel: false },
																	 { caption:'Change', icon: 'edit', position: 'left', action: 'change', color: 'prymary', row: 1, tooltip: 'Change item', disabled: true, multiSel: false } ]"
											[iconButtons]="[ { icon: 'delete', position: 'right', action: 'delete', color: 'accent', row: 0, tooltip: 'Delete data data', disabled: true, multiSel: null },
																			 { icon: 'refresh', position: 'right', action: 'refresh', color: 'accent', row: 0, tooltip: 'Refresh data', disabled: false, multiSel: null } ]"
											[displayedColumns]="['tid', 'mandt', 'bname', 'term', 'hostaddr', 'guiversion', 'zeit']" 
											[displayedColumnsNames]="['TID', 'Client', 'User', 'Terminal', 'IP address', 'GUI version', 'Time']"> </lib-pmt-data-table>
</div>

<div fxLayout="column" 
		 fxLayout.xs="column" 
		 fxLayoutAlign="center center"
		 style="margin: 2vh 1vw;">
	<app-data-table style="width: 98%; min-width: 600px;" 
											color="warn"
											title="User list" 
											[baseUrl]="configuration.url"
											method="TH_USER_LIST"
											methodType = "F"
											webrfcLog = "true"
											webrfcLogin = "true"
											webrfcUser = "user1"
											webrfcPassword = "Ostrakon1!"
											noRefreshColumns = "true"
											table="USRLIST"
											[fields]="[ { name: 'sap-language', value:'EN', type: 'select', placeholder: 'Language' }	]"
											[buttons]="[ { caption:'View', icon: 'search', position: 'left', action: 'view', color: 'prymary', row: 1, tooltip: 'View item', disabled: true, multiSel: false },
																	 { caption:'Change', icon: 'edit', position: 'left', action: 'change', color: 'prymary', row: 1, tooltip: 'Change item', disabled: true, multiSel: false } ]"
											[iconButtons]="[ { icon: 'delete', position: 'right', action: 'delete', color: 'accent', row: 0, tooltip: 'Delete data data', disabled: true, multiSel: null },
																			 { icon: 'refresh', position: 'right', action: 'refresh', color: 'accent', row: 0, tooltip: 'Refresh data', disabled: false, multiSel: null } ]"
											[displayedColumns]="['tid', 'mandt', 'bname', 'term', 'hostaddr', 'guiversion', 'zeit']" 
											[displayedColumnsNames]="['TID', 'Client', 'User', 'Terminal', 'IP address', 'GUI version', 'Time']"> </app-data-table>
</div>
